In [1]:
import pandas as pd 
import numpy as np 
from sklearn import tree
from sklearn import preprocessing

C:\Users\Meera Sreekumar\PYTHON\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Meera Sreekumar\PYTHON\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Meera Sreekumar\PYTHON\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Meera Sreekumar\PYTHON\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
bl = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [5]:
bl.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [6]:
bl.shape

(5000, 14)

In [8]:
bl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
ZIP Code              5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [9]:
bl.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [10]:
bl.drop(['ZIP Code'],axis=1,inplace=True)

In [11]:
bl.shape

(5000, 13)

In [12]:
bl.columns

Index(['ID', 'Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [15]:
features = ['ID', 'Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']

In [16]:
rf_model.fit(X=bl[features],y=bl['Personal Loan'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
print("OOB Accuracy : ", rf_model.oob_score_)

OOB Accuracy :  0.987

In [18]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

ID 0.04729319088605691
Age 0.04065569479322242
Experience 0.040502996717272456
Income 0.32699304027452736
Family 0.09028716315528203
CCAvg 0.17897349606371935
Education 0.15437387347123205
Mortgage 0.04353055464941433
Securities Account 0.005252984287512471
CD Account 0.05413515937538564
Online 0.00834534743809682
CreditCard 0.009656498888278277

In [19]:
predictors = pd.DataFrame([bl['Income'],bl['Family'],bl['CCAvg'],bl['Education']]).T

In [20]:
tree_model = tree.DecisionTreeClassifier(max_depth=8)

In [21]:
tree_model.fit(X=predictors,y=bl['Personal Loan'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
with open("Bank Loan DTree.dot",'w') as f: 
    f = tree.export_graphviz(tree_model,feature_names=['Income', 'Family', 'CCAvg', 'Education'],out_file=f)

In [23]:
tree_model.score(X=predictors,y=bl['Personal Loan'])

0.9954